@use '../../../scss/colors';
@use '../../../scss/variables';

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.45rem;

  padding: 2rem;
  background-color: colors.$red_800;
  color: colors.$red_300;

  border-radius: 2rem;

  &__icon {
    font-size: 3rem;
  }

  &__message {
    font-size: 1.75rem;
  }
}
