@use '../../scss/colors';
@use '../../scss/variables';

$transition-duration: 0.3s;

.container {
  background: linear-gradient(
    to left,
    colors.$sky_900 50%,
    colors.$gray_800 75%
  );

  height: 75px;
  padding-block: 0.5rem;

  position: sticky;
  top: 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.navbar {
  max-width: 996px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__links {
    display: flex;
    list-style: none;

    li {
      margin-left: 1rem;
      font-size: 1.9rem;
      font-family: variables.$font_title;
      font-weight: 500;
      padding: 0.65rem;

      a {
        color: colors.$sky_200;
        transition: all 0.3s ease-in;

        &:hover {
          color: colors.$blue_600;
        }
      }

      &.active {
        font-weight: 800;
        padding: 0.65rem;
        background-color: colors.$gray_600;
        color: colors.$zinc_600;
        border-radius: 0.55rem;
      }
    }
  }

  &__toggle_button {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 2.2rem;
    color: colors.$sky_400;

    transition: all 0.3s ease-in;

    &:hover {
      color: colors.$blue_100;
    }
  }
}

@media (max-width: 768px) {
  .container {
    height: auto;
  }

  .navbar {
    padding-inline: 2rem;

    &__toggle_button {
      display: block;
    }

    &__links {
      background: linear-gradient(
        to left,
        colors.$zinc_800 50%,
        colors.$gray_800 75%
      );
      flex-direction: column;
      align-items: center;
      z-index: 2;
      position: absolute;
      top: 75px;
      left: 0;
      bottom: 0;
      width: 100%;

      opacity: 0;
      transform: translateY(-20px);
      transition:
        opacity $transition-duration ease-in-out,
        transform $transition-duration ease-in-out;
      height: 45rem;

      &.open {
        display: flex;
        opacity: 1;
        transform: translateY(0%);
      }

      li {
        margin: 2rem 0;
        padding-bottom: 1rem;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

        a {
          font-size: 1.855rem;
        }
      }
    }
  }
}

@media (max-width: 996px) {
  .container {
    height: auto;
  }

  .navbar {
    padding-inline: 2rem;
    max-width: 796px;
    margin: 0 auto;
  }
}
