@use '../../scss/colors';
@use '../../scss/variables';

.table__title {
  display: flex;
  justify-content: center;
  padding: 2rem;

  margin-top: 4rem;

  h3 {
    color: colors.$zinc_800;
    font-size: 2.85rem;
    font-weight: 500;

    font-family: variables.$font_title;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  margin-bottom: 2rem;

  th,
  td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid colors.$sky_200;
  }

  th {
    color: colors.$zinc_900;
    font-size: 1.65rem;
    font-weight: 500;
    font-family: variables.$font_title;

    padding-bottom: 2rem;
  }

  tr:nth-child(even) {
    background-color: colors.$gray_200;
  }
}

@media (max-width: 768px) {
  .table {
    margin-bottom: 3rem;

    th,
    td {
      display: block;
    }

    th {
      font-size: 1.3rem;
      font-weight: 600;
      text-align: center;
    }

    td {
      text-align: center;
      font-weight: 500;
      overflow: auto;
    }
  }
}
