//[] <| === === === === COLORS === === === === |>
$zinc_950: #09090b;
$zinc_900: #18181b;
$zinc_800: #27272a;
$zinc_700: #3f3f46;
$zinc_600: #52525b;
$zinc_500: #71717a;
$zinc_400: #a1a1aa;
$zinc_300: #d4d4d8;
$zinc_200: #e4e4e7;
$zinc_100: #f4f4f5;
$zinc_50: #fafafa;

$gray_950: #030712;
$gray_900: #111827;
$gray_800: #1f2937;
$gray_700: #374151;
$gray_600: #4b5563;
$gray_500: #6b7280;
$gray_400: #9ca3af;
$gray_300: #d1d5db;
$gray_200: #e5e7eb;
$gray_100: #f3f4f6;
$gray_50: #f9fafb;

$blue_950: #172554;
$blue_900: #1e3a8a;
$blue_800: #1e40af;
$blue_700: #1d4ed8;
$blue_600: #2563eb;
$blue_500: #3b82f6;
$blue_400: #60a5fa;
$blue_300: #93c5fd;
$blue_200: #bfdbfe;
$blue_100: #dbeafe;
$blue_50: #eff6ff;

$sky_950: #082f49;
$sky_900: #0c4a6e;
$sky_800: #075985;
$sky_700: #0369a1;
$sky_600: #0284c7;
$sky_500: #0ea5e9;
$sky_400: #38bdf8;
$sky_300: #7dd3fc;
$sky_200: #bae6fd;
$sky_100: #e0f2fe;
$sky_50: #f0f9ff;

$red_50: #fef2f2;
$red_100: #fee2e2;
$red_200: #fecaca;
$red_300: #fca5a5;
$red_400: #f87171;
$red_500: #ef4444;
$red_600: #dc2626;
$red_700: #b91c1c;
$red_800: #991b1b;
$red_900: #7f1d1d;
$red_950: #450a0a;
