@use 'variables';
@use 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  ::-webkit-scrollbar {
    width: 0.815rem;
  }

  ::-webkit-scrollbar-track {
    background: colors.$zinc_300;
  }
  ::-webkit-scrollbar-thumb {
    background: colors.$sky_800;
    border-radius: 2.2rem;
  }
}

body {
  font-size: 1.6rem;
  font-family: variables.$font_body;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  overflow-x: hidden;
}

button {
  cursor: pointer;
}
